<header>
	<pre class="ascii name">
PPPPPPPPPPPPPPPPP                                         222222222222222    
P::::::::::::::::P                                       2:::::::::::::::22  
P::::::PPPPPP:::::P                                      2::::::222222:::::2 
PP:::::P     P:::::P                                     2222222     2:::::2 
  P::::P     P:::::P    ssssssssss       cccccccccccccccc            2:::::2 
  P::::P     P:::::P  ss::::::::::s    cc:::::::::::::::c            2:::::2 
  P::::PPPPPP:::::P ss:::::::::::::s  c:::::::::::::::::c         2222::::2  
  P:::::::::::::PP  s::::::ssss:::::sc:::::::cccccc:::::c    22222::::::22   
  P::::PPPPPPPPP     s:::::s  ssssss c::::::c     ccccccc  22::::::::222     
  P::::P               s::::::s      c:::::c              2:::::22222        
  P::::P                  s::::::s   c:::::c             2:::::2             
  P::::P            ssssss   s:::::s c::::::c     ccccccc2:::::2             
PP::::::PP          s:::::ssss::::::sc:::::::cccccc:::::c2:::::2       222222
P::::::::P          s::::::::::::::s  c:::::::::::::::::c2::::::2222222:::::2
P::::::::P           s:::::::::::ss    cc:::::::::::::::c2::::::::::::::::::2
PPPPPPPPPP            sssssssssss        cccccccccccccccc22222222222222222222
</pre>
</header>
